.main{
    background: url(../img/zvezdnoe_nebo.jpg) center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.credits{
    color: #ffa500;
    width: 100%;
    font-family: sans-serif;
    font-size: 5vw;
    line-height: 1.5;
    text-align: justify;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    animation: play 30s infinite;
}
.container{
    margin: 0 auto;
    perspective: 1000px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
}
.headings{
    margin-bottom: 5rem;
}

h1{
    font-size: 5rem;
    padding-bottom: 10rem;
    text-align: center;
}
h2{
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: center;
}
p{
    padding: 0.5rem 0;
}

@keyframes play {
    0%{
        transform: rotateX(45deg) translate3d(0, 1rem, 0);
        opacity: 1;
    }

    100%{

        transform: rotateX(45deg) translate3d(0, -190rem, 0);
        opacity: 1;
    }
}